<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="passwordDetailsId"
    [value]="service.formData.passwordDetailsId" />
    <div class="form-group">
        <label>Passwords Owners Name</label>
        <input class="form-control form-control-lg" placeholder="Full Name"
        name="passwordOwnerName" #passwordOwnerName="ngModel" [(ngModel)]="service.formData.passwordOwnerName"
        required [class.invalid]="passwordOwnerName.invalid && passwordOwnerName.touched">
    </div>
    <div class="form-group">
        <label>Passwords Owners Pnone Number</label>
        <input class="form-control form-control-lg" placeholder="Phone Number"
        name="passwordOwnersPhoneNr" #passwordOwnersPhoneNr="ngModel" [(ngModel)]="service.formData.passwordOwnersPhoneNr"
        required maxlength="13" minlength="9" [class.invalid]="passwordOwnersPhoneNr.invalid && passwordOwnersPhoneNr.touched">
    </div>
    <div class="form-group">
        <label>Passwords Expiration Date</label>
        <input class="form-control form-control-lg" placeholder="Expiration date dd/mm/yy"
        name="expirationDate" #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate"
        required maxlength="8" minlength="8" [class.invalid]="expirationDate.invalid && expirationDate.touched">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Password"
        name="password" #password="ngModel" [(ngModel)]="service.formData.password"
        required maxlength="20" minlength="8" [class.invalid]="password.invalid && password.touched">
    </div>
    <div class="form-group mt-4">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>
